<h1>Integrantes del Grupo</h1>
<a href="{% url 'agregar' %}">Agregar</a>
<br>
<br>
{% if personas %}
    {% for p in personas %}
        <li> Identificador: {{p.id}} </li>
        <li> Nombre: {{p.nombre}} </li>
        <li> Apellido: {{p.apellido}} </li>
        <li> Fecha_nacimiento: {{p.fecha_nacimiento}} </li>
        <li> Peso: {{p.peso}} </li>
        <li> Altura: {{p.altura}} </li>
        <li> Email: {{p.email}} </li>
        <a href="{% url 'borrar' identificador=p.id %}"> borrar </a>
        <br>
        <br>
    {% endfor %}
{% else %}
    <p>No tienes familiares cargados</p>
{% endif %}
